:root {
  --dark-blue: #052643;
  --light-blue: #f6fbff;

  --blue: #3d9be9;
  --red: #ff4d4d;
  --dark-red: #e44545;
  --grey: #ecf4f9;

  --gradient-blue: linear-gradient(
    90deg,
    rgba(61, 155, 233, 1) 0%,
    rgba(5, 38, 67, 1) 100%
  );

  --visa-gradient: linear-gradient(
    90deg,
    rgba(61, 155, 233, 1) 0%,
    rgba(42, 114, 175, 1) 100%
  );

  --module-margin: 5rem;
}

.yapim {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.header-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
}

@media (max-width: 992px) {
  .mob-none {
    display: none;
  }
}

.blue {
  color: var(--blue);
}

body {
  overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
}

.btn-style {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  background-color: var(--blue);
  color: white !important;
  padding: 0.65rem 1.5rem;
  font-size: 0.9rem;
  border-radius: 0.8rem;
  border: 1px solid var(--blue);

  transition: background-color 250ms, border-color 250ms;
}

.btn-style:hover {
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
}

.transparent {
  background-color: transparent;
  border: 1px solid white;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 4px var(--blue);
  background-color: var(--dark-blue);
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../fonts/gilroy/Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/gilroy/Gilroy-ExtraBold.ttf") format("truetype");
}

*:not(i, svg, img, iframe, video) {
  font-family: "Gilroy";
}

@media (max-width: 992px) {
  .path {
    display: none;
  }
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  background-color: white;
}

.loader .spinner-border {
  width: 4rem;
  height: 4rem;
  border-width: 0.5rem;
}

section {
  margin-bottom: var(--module-margin);
}

.center {
  text-align: center;
}
.end {
  text-align: end;
}

a {
  text-decoration: none;
  transition: background-color 250ms, color 250ms, border-color 250ms;
}

i {
  transition: color 250ms;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.choice-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--dark-blue);
  overflow: hidden;

  transition: opacity 300ms, visibility 300ms;
}

.choice-main.hidden {
  opacity: 0;
  visibility: hidden;
}

.visa {
  background-color: var(--dark-blue);
  width: 50vw;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: width 0.75s, opacity 0.5s;
}

.education {
  background-color: var(--blue);
  width: 50vw;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  transition: width 0.75s, opacity 0.5s;
}

.visa:after,
.education:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dark-blue);
  z-index: 0;
  opacity: 0;
  visibility: hidden;

  transition: opacity 0.75s, visibility 0.75s;
}

.education:after {
  background: var(--blue);
}

.choice-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  perspective: 65rem;
  position: relative;
  z-index: 2;

  cursor: pointer;
}

.choice-content img {
  width: 100%;
  height: 100vh;
  max-height: 60vh;
  object-fit: contain;
  padding: 1.5rem;

  transition: transform 250ms;
}

.choice-content a {
  font-size: 2rem;
}

.visa a {
  color: var(--blue);
}

.education a {
  color: var(--dark-blue);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.choice-content i {
  transition: transform 0.75s;
  transform: translateY(1.3rem);
}

.choice-content:hover i,
div.active .choice-content i {
  transform: translateY(0.2rem);
}

.choice-content:hover img,
div.active .choice-content img {
  transform: translate(1rem, -0.5rem) rotate3d(1, 1, 1, -8deg);
}

.visa.active .choice-content i,
.education.active .choice-content i {
  opacity: 0;
}

.visa.active:after,
.education.active:after {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 768px) {
  .visa.active,
  .education.active {
    width: 100vw;
  }

  .visa.deactive,
  .education.deactive {
    width: 0vw;
    opacity: 0;
  }

  .education,
  .visa {
    position: relative;
  }

  .education::before,
  .visa::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/fly.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    z-index: 1;
    opacity: 0;
    /* visibility: hidden; */
    transition: opacity 0.75s, visibility 0.75s;
  }

  .education:hover::before,
  .visa:hover::before {
    opacity: 0.2;
  }
}

@media (max-width: 768px) {
  .choice-main {
    flex-direction: column;
  }
  .visa {
    width: 100vw;
    height: 50vh;
    transition: height 0.75s, opacity 0.5s;
  }

  .education {
    width: 100vw;
    height: 50vh;
    transition: height 0.75s, opacity 0.5s;
  }

  .choice-content {
    gap: 0;
  }

  .choice-content img {
    width: 60vw;
    height: 100%;
    max-height: 25rem;
  }

  /* .visa:after,
  .education:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--dark-blue);
    z-index: 0;
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.75s, visibility 0.75s;
  } */

  .visa.active,
  .education.active {
    height: 100vh;
  }

  .visa.deactive,
  .education.deactive {
    height: 0vw;
    opacity: 0;
  }
}

@media (max-height: 992px) and (max-width: 768px) {
  .choice-content img {
    max-height: 18rem;
  }
}
/* Banner */

.banner-cover {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.banner-content-area {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

.banner-content {
  width: 40%;
  position: relative;
}

.banner-content > *:not(.banner-content > img) {
  position: relative;
  z-index: 1;
}

.banner-content span {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--dark-blue);
}

.banner-content h1 {
  color: var(--blue);
  font-size: 4rem;
  font-weight: 600;
}

.banner-content p {
  color: #707070;
  font-size: 0.8rem;
}

.path {
  position: absolute;
  top: -55%;
  left: -3rem;
  width: 100%;
  object-fit: scale-down;
}

@media (max-width: 992px) {
  .banner-content-area {
    height: 100vh;
    /* padding: 15rem 0; */
  }

  .banner-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .banner-cover {
    display: none;
  }
}

/* Kartlar */

.cards-section {
  margin-top: 7rem;
}

.cards-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-item {
  background-color: var(--light-blue);
  width: 100%;
  height: auto;
  border-radius: 1.25rem;

  user-select: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem 1.5rem;

  transition: background-color 250ms;
}

.card-item:hover {
  background-color: var(--red);
}

.card-item h3 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--dark-blue);
  transition: color 250ms;
  text-align: center;
}

.card-image {
  background-color: var(--grey);
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 1px rgb(0, 0, 0);

  transition: background-color 250ms;
}

.card-item:hover .card-image {
  background-color: var(--dark-red);
}

.card-image img {
  transition: filter 250ms;
}

.card-item:hover img {
  filter: invert(100%) sepia(58%) saturate(0%) hue-rotate(82deg)
    brightness(116%) contrast(101%);
}

.card-item:hover h3 {
  color: white;
}

@media (max-width: 992px) {
  .cards-section {
    margin-top: 0;
  }

  .cards-flex {
    flex-wrap: wrap;
  }

  .card-item {
    width: calc(50% - 0.5rem);
  }
}

/* Hakkımızda */

.module-head {
  margin-bottom: 1.5rem;
}

.sm-title {
  font-size: 0.8rem;
  color: var(--blue);
}

.sm-title.center {
  display: flex;
  justify-content: center;
}

.module-title {
  margin-top: 0.5rem;
  font-weight: 600;
  /* font-size: 1rem; */
}

.module-content {
  font-size: 0.9rem;
  color: var(--dark-blue);
  margin-bottom: 2rem;
}

.module-content p {
  margin-bottom: 0;
}

/* Hizmet */

.service-section {
  margin: 25rem 0;
  position: relative;
}

.service-section:after {
  content: "";

  background-image: url("../images/bg-path.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 52rem;
  margin: auto;
}

.service-section > .container {
  position: relative;
  z-index: 2;
}

.flexible-images {
  position: relative;
}

.flexible-images > * {
  width: 45%;
  height: 16rem;
  position: absolute;
  display: flex;
  margin: auto;

  border-radius: 1rem;
}

.flexible-images img {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  margin: auto;

  border-radius: 1rem;
}

.flexible-images > *:nth-child(1) {
  top: 0;
  right: 0;
}

.flexible-images > *:nth-child(2) {
  bottom: 0;
  left: 0;
}

.flexible-images > *:nth-child(3) {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (max-width: 1400px) {
  .service-section {
    margin: 18rem 0;
  }

  .service-section:after {
    height: 43rem;
  }
}

@media (max-width: 1200px) {
  .service-section {
    margin: 13rem 0;
  }

  .service-section:after {
    height: 36rem;
  }

  .flexible-images > * {
    height: 12rem;
  }
}

@media (max-width: 992px) {
  .flexible-images {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .flexible-images > * {
    width: calc(50% - 0.5rem);
    position: relative;
    border-radius: 1rem;
    height: 10rem;
  }
  .flexible-images > *:last-child {
    margin-top: -8rem;
  }

  .service-section {
    margin: 9rem 0;
  }

  .service-section:after {
    height: 25rem;
  }
}

@media (max-width: 768px) {
  .service-section {
    margin: 0 0 var(--module-margin) 0;
    background-color: #f6fbff;
    padding: var(--module-margin) 0;
  }
  .service-section:after {
    height: 0;
    display: none;
  }
  .flexible-images > * {
    height: 12rem;
  }
}

/* Paketler */
.packages-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 4rem;
}

.package-item {
  width: calc((100% / 3) - 0.67rem);
  height: auto;
  /* box-shadow: 0 0 05px rgba(0, 0, 0, 0.2); */

  padding: 2rem 1rem;

  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  position: relative;

  cursor: pointer;

  transition: box-shadow 250ms;
}

@media (min-width: 768px) {
  .package-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    z-index: 1;
  }

  .package-item.most-populer {
    box-shadow: none !important;
  }

  .package-item.most-populer:after {
    width: calc(100% + 1.3rem);
    height: calc(100% + 3rem);
    top: -1.5rem;
    left: -0.65rem;
    box-shadow: 0 0 5px var(--blue);
  }
}

.package-item * {
  margin: 0;
}

.package-item > a {
  position: relative;
  z-index: 3;
}

.package-item ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.6rem;
  margin-top: 0.6rem;
}

.package-item h3 {
  color: var(--dark-blue);
  font-size: 2.25rem;
  font-weight: 600;
}

.package-item .pckg-price {
  color: var(--dark-blue);
  font-size: 5rem;
  font-weight: bold;

  transition: color 250ms;
}

.package-item span {
  color: var(--dark-blue);
  font-size: 0.8rem;
}

.package-item a {
  width: 100%;
  margin: 1rem 0;
  background-color: transparent;
  color: black !important;
  border: 1px solid grey;

  transition: background-color 250ms, border-color 250ms, color 250ms;
}

.package-item h4 {
  font-size: 0.9rem;
  color: var(--dark-blue);
  margin-top: 0.5rem;
}

.package-item li {
  color: #707070;
  font-size: 0.8rem;
}

.package-item:hover,
.package-item.most-populer {
  box-shadow: 0 0 5px var(--blue);
}
.package-item:hover .pckg-price,
.package-item.most-populer .pckg-price {
  color: var(--blue);
}

.package-item:hover a,
.package-item.most-populer a {
  background-color: var(--blue);
  color: white !important;
  border-color: var(--blue);
}

.most-populer-btn {
  background-color: var(--blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  height: 2.5rem;
  font-size: 0.75rem;
  border-radius: 0.9rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: max-content;
  margin: auto;
  top: -2.75rem;
  z-index: 2;
}

@media (max-width: 1200px) {
  .package-item h3 {
    font-size: 1.5rem;
  }

  .package-item .pckg-price {
    font-size: 3.5rem;
  }

  .package-item span {
    font-size: 0.75rem;
  }
}

@media (max-width: 992px) {
  .package-item h3 {
    font-size: 1.2rem;
  }

  .package-item h4 {
    font-size: 0.75rem;
  }

  .package-item .pckg-price {
    font-size: 2.5rem;
  }

  .package-item span {
    font-size: 0.75rem;
  }

  .package-item li {
    font-size: 0.6rem;
  }
}

@media (max-width: 768px) {
  .package-item > div {
    padding: 2rem 1rem;

    box-shadow: 0 0 5px var(--blue);

    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .package-item {
    padding: 0.25rem;
    box-shadow: none !important;
  }
  .most-populer-btn {
    top: -1.25rem;
  }
  .swiper-wrapper {
    padding: 1.4rem 0 !important;
  }
}

.visa_status {
  width: 100%;
  height: auto;

  margin-top: 25rem;

  border-radius: 1rem;

  background: rgb(255, 153, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 153, 0, 1) 0%,
    rgba(237, 111, 0, 1) 100%
  );

  padding: 4rem 3rem;

  display: flex;
  align-items: end;
  justify-content: space-between;

  position: relative;
}

.visa_status h2 {
  color: white;
}
.visa_status h3 {
  color: white;
  font-size: 0.95rem;
}

.visa_status div {
  position: relative;
}

.visa_status img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.check {
  position: absolute;
  top: -1rem;
  left: -1rem;

  width: 3rem;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;

  background-color: var(--blue);
  border-radius: 50%;

  box-shadow: 0 0 5px var(--blue);
}

@media (max-width: 992px) {
  .visa_status {
    width: 100%;
    height: auto;

    margin-top: auto;
  }

  .visa_status div:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .visa_status {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
  .visa_status a {
    margin: auto;
  }

  .check {
    display: none;
  }
}

.post_slider .swiper {
  width: 100%;
  height: 100%;
}

.post_slider .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  border-radius: 1rem;
  background-color: transparent !important;
  box-shadow: none !important;
  /* padding: 1rem; */
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  border-radius: 1rem !important;
}

.post_slider .swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 1.3rem;
  box-shadow: 0 0 5px var(--blue);

  /* -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0002, #0004); */
}

.post_slider .swiper-wrapper {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

/* Genel Mobil Ayarları */
@media (max-width: 480px) {
  .card-item h3 {
    font-size: 0.85rem;
  }
}

/* Header */

header.main-header {
  width: 100%;
  height: auto;
  display: flex;
}

.header-nav a.active {
  font-weight: bold !important;
}

header.main-header.main {
  position: absolute;
  top: 2.5rem;
  left: 0;
  z-index: 2;
}

@media (max-width: 992px) {
  header.main-header:not(.main) .header-logo img {
    bottom: -0.5rem;
    left: 0;
    width: 4.3rem;
  }
}

.header-flex {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.header-logo {
  width: 100%;
  max-width: 30%;
  height: 100%;
  position: relative;
}

.header-nav {
  width: 100%;
  max-width: 70%;
  height: 100%;
}

/* .header-logo img {
  width: 100%;
  height: 100%;
  max-width: 14rem;
  object-fit: scale-down;
  object-position: left;
  user-select: none;
} */

.header-logo img {
  width: 100%;
  height: auto;
  /* object-fit: scale-down; */
  object-position: left;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 5.5rem;
}

.header-nav > ul.navigation-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  gap: 2rem;
}

.header-nav > ul.navigation-list > li > a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark-blue);
  display: flex;
  align-items: center;
  width: 100%;
  height: max-content;
  transition: color 250ms;
  position: relative;
}

header.main-header.main ul.navigation-list > li > a {
  color: white;
}

.header-nav > ul.navigation-list > li > a:hover,
.header-nav > ul.navigation-list > li.active > a {
  color: var(--dark-blue) !important;
}

.top-header {
  display: flex;
  width: 100%;
  height: 2.5rem;
  /* background: var(--blue); */
}

.top-header.main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.top-header-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  height: 100%;
}

.top-header-flex a {
  color: white;
  font-size: 1.3rem;
}

.top-header-flex svg {
  transform: scale(1);
  transition: transform 250ms;
}

.top-header-flex a:hover svg {
  transform: scale(1.1);
}

.header-burger {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .header-nav > ul.navigation-list {
    gap: 1rem;
  }
}

/* .header-nav > ul.navigation-list > li:last-child > a {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  cursor: pointer;
} */

@media only screen and (min-width: 992px) {
  .header-flex {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    /* border-bottom: 1px solid rgb(0, 0, 0, 0.2); */
  }

  .navigation-list > li {
    /* height: 100%; */
  }
}

header.main-header.main .dropdown > div {
  color: white;
}

header.main-header.main .dropdown > div:hover {
  color: var(--dark-blue);
}

@media (max-width: 992px) {
  .header-nav {
    display: flex;
    position: absolute;
    transform: translateX(-105%);
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
    z-index: 20;
    width: 20rem;
    height: 100vh;
    align-items: center;
    left: 0;
    top: -2.5rem;
    transition: transform 250ms;
  }

  .header-nav.active {
    transform: translateX(0%);
    flex-direction: column;
  }

  .header-nav > ul.navigation-list > li {
    width: 100%;
  }

  .header-nav > ul.navigation-list > li > a:not(ul.languages a),
  .header-nav > ul.navigation-list > li.dropdown > div,
  .header-nav > ul.navigation-list > li.dropdown a,
  .auth_btn .auth {
    width: 100%;
    height: 3rem;
    padding: 0 0 0 1rem !important;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 0.5rem;
    /* justify-content: center; */
    color: var(--dark-blue);
  }
  .auth_btn .auth {
    color: white;
  }
  /* 
  .header-nav > ul.navigation-list > li.dropdown > div{
    flex-direction: row;
    align-items: center;
    jus
  } */

  .header-nav > ul.navigation-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: flex-start;
    height: 100%;
    gap: 0;
    flex-direction: column;
    width: 100%;
    margin: 0;
    justify-content: flex-start;
  }

  .header-burger {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 70%;
    justify-content: flex-end;
  }

  .header-burger.out-check .lang_flex {
    color: var(--dark-blue);
    margin-right: 1.5rem;
  }

  .menuToggle {
    display: flex;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    flex-direction: column;
    justify-content: center;
  }

  .menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  .menuToggle a:hover {
    color: tomato;
  }

  .menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    left: -4px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  .menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  .menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  .menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -18px);
    background: #232323;
  }
  .menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  .menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(-1px, 18px);
  }

  .header-burger.inner-check {
    position: absolute;
    top: 0.5rem;
    display: block;
    right: 1.5rem;
    width: auto;
  }

  .out-check {
    opacity: 1;
    transition: opacity 250ms;
  }

  .inner-check {
    opacity: 0;
    transition: opacity 250ms;
  }

  .header-flex.active .overlay-header {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 15;
    top: -2.5rem;
    left: 0;
    background-color: rgb(0, 0, 0, 0.25);
    cursor: pointer;
  }

  .main-header:not(.main) .overlay-header,
  .main-header:not(.main) .header-nav {
    top: 0 !important;
  }

  li.dropdown ul {
    background: #eeeeee;
  }

  .header-logo img {
    bottom: -2.1rem;
    left: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  .header-logo {
    max-width: 75%;
  }
  .header-burger {
    max-width: 25%;
  }
}

.auth_btn {
  border: 1px solid var(--dark-blue);
  block-size: max-content;
  border-radius: 1rem;

  font-size: 0.9rem !important;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: var(--dark-blue);

  transition: background-color 250ms, border-color 250ms, color 250ms;
}

.auth_btn .auth {
  padding: 0.75rem 2rem;
  cursor: pointer;
}

.main .auth_btn {
  border: 1px solid white;
  color: white;
}

.auth_btn:hover {
  background-color: var(--dark-blue);
  border-color: var(--dark-blue);
  color: white;
}

@media (max-width: 992px) {
  .auth_btn {
    border-radius: 0;
    background-color: var(--dark-blue);
    color: white;
  }

  .header-nav > ul.navigation-list > li > a:not(ul.languages a) {
    transition: background-color 250ms, color 250ms;
  }

  .header-nav > ul.navigation-list > li > a:not(ul.languages a):hover {
    border-radius: 0;
    background-color: var(--dark-blue);
    color: white !important;
  }
}

.lang_flex {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  color: var(--dark-blue);
}

.main .lang_flex {
  color: white;
}

.lang_flex .prev {
  color: var(--blue);
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  left: 1.5rem;
  top: 0;
}

.lang_flex span {
  cursor: pointer;
}

.p-dropdown-items {
  background-color: white;
}

.p-dropdown-items li {
  padding: 0.95rem 1rem;
}

.p-dropdown-items li:hover {
  background-color: var(--dark-blue);
  color: white;
}

.page-banner {
  background: var(--gradient-blue);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.page-banner-content {
  padding: 5rem 0;
}

.page-banner-content h1 {
  color: white;
  text-align: center;
}

.page-description {
  text-align: center;
  color: var(--dark-blue);
}

.visa-form-container {
  /* margin-top: 3rem; */
  background-color: var(--light-blue);
  padding: 3rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1px var(--blue);
}

.visa-form-container form .step {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.visa-form-container form .step > div {
  width: calc(50% - 0.5rem);
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .visa-form-container form .step > div {
    width: 100%;
  }
}

.visa-form-container form label {
  margin-bottom: 0.25rem;
  font-size: 0.85rem;
}

.visa-form-container form input,
.visa-form-container form textarea,
.visa-form-container form .p-dropdown-label{
  font-size: 0.85rem;
}

.p-fileupload .p-fileupload-buttonbar .p-button {
  font-size: 0.65rem;
}

.steps-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 0.75rem 0;
}

.steps-flex > .step-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 5rem;

  background-color: #bdd2e2;
  color: white;
  max-width: calc(100% / 6);
}
.steps-flex > .step-item span.step-name {
  font-size: 0.9rem;
  padding: 0 1rem;
}

.steps-flex > .step-item.active {
  background-color: var(--blue);
}

.steps-flex > .step-item span.index {
  display: none;
}

.step-line {
  width: 100%;
  height: 4px;
  box-shadow: 0 0 2px rgba(42, 114, 175, 0.2);
  background-color: var(--grey);
  border-radius: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 992px) {
  .steps-flex > .step-item span.step-name {
    font-size: 0.6rem;
  }
}

@media (min-width: 768px) {
  .steps-flex > .step-item {
    clip-path: polygon(92% 0%, 100% 50%, 92% 100%, 0% 100%, 8% 50%, 0% 0%);
  }
  .steps-flex > .step-item:first-child {
    clip-path: polygon(92% 0%, 100% 50%, 92% 100%, 0% 100%, 0 50%, 0% 0%);
  }
}

@media (max-width: 768px) {
  .steps-flex > .step-item span.step-name {
    display: none;
  }

  .steps-flex > .step-item span.index {
    display: block;
  }

  .steps-flex > .step-item {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }

  .steps-flex {
    /* justify-content: space-between; */
    gap: 0.9rem;
  }

  .visa-form-container {
    padding-top: 1rem;
  }

  .steps-flex > .step-item span {
    font-size: 0.9rem;
  }
}

div#selfEmployed,
div#selfEmployed *,
span.p-dropdown-item-label {
  font-size: 0.8rem;
}

.buttons {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.buttons.center {
  justify-content: center;
}

.buttons button {
  width: max-content;
  padding: 0.75rem 4rem;
  background-color: var(--blue);
  color: white;
  border: none;
  outline: none;
  border-radius: 2rem;
  font-size: 0.95rem;

  transition: background-color 250ms;
}

.buttons button:hover {
  background-color: var(--dark-blue);
}

.testimonial-item {
  transform: scale(0.99);
  width: 100%;
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: var(--light-blue);
  box-shadow: 0 0 3px var(--dark-blue);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  /* gap: 1rem; */
}

.testi-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  box-shadow: 0 0 2px var(--dark-blue);
  background-color: var(--dark-blue);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.testimonial-item h3 {
  margin: 0.5rem 0 0.25rem 0;
  font-size: 1.1rem;
}
.testimonial-item h4 {
  margin: 0;
  font-size: 0.85rem;
  color: #707070;
}

.testi-content {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 0.85rem;
}

.testi-content p {
  margin: 0;
}

.testimonial-item ul {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.testimonial-item li {
  opacity: 0.4;
}
.testimonial-item li.act {
  opacity: 1;
}

.testimonial-slider .swiper-wrapper {
  padding: 0.2rem 0 !important;
}

.testimonial-slider .swiper-slide {
  transition: transform 250ms !important;
}

.testimonial-item * {
  position: relative;
  perspective: 1000px;
  z-index: 5;
  transform: translate3d(0, 0, 1rem);
}

@media (min-width: 992px) {
  .testimonial-slider .swiper-slide:not(.swiper-slide-next) {
    transform: scale(0.8) !important;
    /* opacity: 0.5; */
  }

  .testimonial-slider .swiper-slide.swiper-slide-next {
    transform: scale(1) !important;
  }
}

.testi-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin-top: 1rem;
  font-size: 1.75rem;
}

.testi-arrows i,
.testi-arrows svg {
  cursor: pointer;

  color: #3d9be9;
}

.blog-item {
  border-radius: 0.75rem;
  background-color: var(--light-blue);
  box-shadow: 0 0 3px var(--dark-blue);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 20rem;
  /* transform: scale(0.99); */
}

.blog-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
  position: absolute;
  top: 0;
  left: 0;
}

.blog-card-content {
  position: relative;
  z-index: 2;
  background-color: white;
  width: calc(100% - 2rem);
  height: auto;
  margin: auto auto 1rem auto;
  border-radius: 0.8rem;
  padding: 0.5rem;
}

.blog-card-content span {
  font-size: 0.75rem;
  color: var(--blue);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.blog-card-content h3 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--dark-blue);
}

.blog_slider .swiper-wrapper {
  padding: 0.2rem 0 !important;
}

.blog_slider .swiper-slide {
  transition: transform 250ms !important;
}

@media (min-width: 992px) {
  /* .blog_slider .swiper-slide:not(.swiper-slide-next) {
    transform: scale(0.8) !important;
  }

  .blog_slider .swiper-slide.swiper-slide-next {
    transform: scale(1) !important;
  } */
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contact-form > div {
  width: 100%;
  display: flex;
  gap: 1rem;
  position: relative;
}

.contact-form .input {
  width: 100%;
  position: relative;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 3.5rem;
  padding: 0.75rem;
  font-size: 0.9rem;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  box-shadow: none;
}

.contact-form textarea {
  min-height: 9rem;
  max-height: 11rem;
}

.contact-form .input div.line:after {
  content: "";
  width: 0%;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
  height: 2px;
  background-color: var(--dark-blue);
  transition: width 250ms ease-in-out;
}

.contact-form .input input:focus + :after,
.contact-form .input textarea:focus + :after {
  width: 100%;
}

.contact-form .input textarea + :after {
  bottom: 0.4rem !important;
}

.rezervation_module {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  background: rgb(255, 77, 77);
  background: linear-gradient(
    90deg,
    rgba(255, 77, 77, 1) 0%,
    rgba(229, 69, 69, 1) 100%
  );

  padding: 4rem 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rezervation_module h2 {
  color: white;
}
.rezervation_module h3 {
  color: white;
  font-size: 0.95rem;
}

.rezervation_module img {
  width: 100%;
  max-width: 11rem;
}

@media (max-width: 768px) {
  .rezervation_module {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding: 2rem 1.5rem;
  }

  .rezervation_module a {
    margin: auto;
  }
}

footer {
  background: rgb(61, 155, 233);
  background: linear-gradient(
    180deg,
    rgba(61, 155, 233, 1) 0%,
    rgba(35, 121, 193, 1) 100%
  );
  width: 100%;
  height: auto;
}

.clipped-container {
  position: relative;
  width: 100%;
  height: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clipped {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

.clipped-container img:not(.clipped) {
  position: relative;
}

footer .navigation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 3rem;
  justify-content: center;
  margin-top: 2rem;
}
footer .navigation-list a {
  color: white;
  font-size: 1.15rem;
  transition: color 250ms;
  position: relative;
}

footer .navigation-list a:hover {
  /* text-decoration: underline; */
  color: var(--dark-blue);
}

footer .navigation-list a::after {
  content: "";
  width: 0%;
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
  margin: auto;
  height: 3px;
  background-color: var(--dark-blue);
  transition: width 250ms ease-in-out;
}

footer .navigation-list a:hover::after {
  width: 100%;
}

.footer-cards {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-cards > div {
  width: 100%;
  max-width: 17rem;
  height: auto;
  border: 1px solid white;
  padding: 0.8rem;
  border-radius: 0.75rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.3rem;
}

.footer-cards span {
  font-size: 0.85rem;
  font-weight: 600;
}

.footer-cards p {
  font-size: 0.95rem;
  color: white;
  margin: 0;
}

.footer-cards a {
  font-size: 1rem;
  color: var(--dark-blue);
  margin: 0;
  font-weight: 500;

  display: flex;
  align-items: center;
  gap: 0.35rem;
}

@media (max-width: 550px) {
  .footer-cards {
    flex-direction: column !important;
  }

  .footer-cards > div {
    max-width: 100%;
  }
}

.footer-social {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-social > a {
  color: white;

  font-size: 1.15rem;
  text-align: center;
  margin-top: 1rem;

  margin: auto;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  position: relative;
}

.footer-social > a i {
  transition: color 0ms;
}

.footer-social > a:hover {
  color: var(--dark-blue);
}

.footer-social > a::after {
  content: "";
  width: 0%;
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
  margin: auto;
  height: 3px;
  background-color: var(--dark-blue);
  transition: width 250ms ease-in-out;
}

.footer-social > a:hover::after {
  width: 100%;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 1rem;
}

.social-list a {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  font-size: 1.25rem;
}

.social-list a:hover {
  border-color: var(--dark-blue);
  background-color: var(--dark-blue);
}

.copyright {
  text-align: center;
  color: white;
  font-size: 0.9rem;
  margin: 0;
}

.auth_area form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.p-field {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.p-field .p-icon-field {
  width: 100%;
}

.p-field label {
  font-size: 0.85rem;
  margin: 0;
}

.p-field input {
  width: 100%;
}

.p-input-icon {
  margin-top: -0.8rem;
}

.p-icon-field-right input {
  padding-right: 2.4rem;
}

.auth_choose {
  display: flex;
  margin-bottom: 1rem;
}
.auth_choose div {
  width: 100%;
  text-align: center;
  background-color: var(--light-blue);
  height: 2.7rem;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-blue);

  cursor: pointer;

  transition: background-color 250ms, color 250ms;
}
.auth_choose div:hover,
.auth_choose div.active {
  background-color: var(--dark-blue);
  color: white;
}

.error-input input,
.error-input textarea {
  border-color: red;
}

div:where(.swal2-container) {
  z-index: 1101 !important;
}

.page_content {
  margin-block-start: 1rem;
  background: var(--gradient-blue);
}

.page_content h1 {
  font-size: 1.95rem;
  color: white;
  padding: 5.5rem 0;
  text-align: center;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown > div {
  transition: color 250ms, background-color 250ms;
}

.dropdown i {
  transition: none;
}

.dropdown ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  color: var(--dark-blue);
  user-select: none;
}

.dropdown ul a:hover {
  background-color: var(--blue);
  color: white !important;
}

@media (min-width: 992px) {
  .dropdown ul {
    text-align: center;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 1.9rem;
    left: -5rem;
    border-radius: 0.6rem;
    overflow: hidden;
    width: 15rem;

    visibility: hidden;
    opacity: 0;
    user-select: none;

    transition: opacity 250ms, visibility 250ms, user-select 250ms;
  }

  .dropdown ul a {
    text-align: center;
  }

  .dropdown:hover ul {
    visibility: visible;
    opacity: 1;
    user-select: all;
  }
}

@media (max-width: 992px) {
  .dropdown > div:hover,
  .dropdown.open > div {
    color: white !important;
    background-color: var(--dark-blue);
  }

  .dropdown ul a {
    text-align: start;
    justify-content: start;
    font-size: 0.9rem;
  }

  .dropdown ul:not(.active) {
    display: none;
  }
}

.blog_list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.blog_list > div {
  width: calc((100% / 3) - 0.67rem);
}

@media (max-width: 992px) {
  .blog_list > div {
    width: calc((100% / 2) - 0.5rem);
  }
}

@media (max-width: 576px) {
  .blog_list > div {
    width: 100%;
  }
}

.blog-detail-content img {
  width: 100%;
  max-height: 35rem;
  object-fit: cover;
  border-radius: 1rem;
}

.blog-detail-text {
  padding: 0 2rem;
}

.blog-detail-text > * {
  margin: 0;
}

@media (max-width: 992px) {
  .blog-detail-text {
    padding: 0;
  }
}

.visa-form-container h2 {
  font-size: 0.9rem;
  text-align: center;
  background: #e2e200;
  padding: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}