:root {
  --dark-blue: #052643;
  --light-blue: #f6fbff;

  --blue: #3d9be9;
  --red: #ff4d4d;
  --dark-red: #e44545;
  --grey: #ecf4f9;

  --gradient-blue: linear-gradient(
    90deg,
    rgba(61, 155, 233, 1) 0%,
    rgba(5, 38, 67, 1) 100%
  );

  --module-margin: 5rem;
}

.blue {
  color: var(--blue);
}

body {
  overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
}

.btn-style {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  background-color: var(--blue);
  color: white !important;
  padding: 0.65rem 1.5rem;
  font-size: 0.9rem;
  border-radius: 0.8rem;
}

.btn-style:hover {
  background-color: var(--dark-blue);
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 4px var(--blue);
  background-color: var(--dark-blue);
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../fonts/gilroy/Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/gilroy/Gilroy-ExtraBold.ttf") format("truetype");
}

*:not(i, svg, img, iframe, video) {
  font-family: "Gilroy";
}

@media (max-width: 992px) {
  .path {
    display: none;
  }
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.loader .spinner-border {
  width: 4rem;
  height: 4rem;
  border-width: 0.5rem;
}

section {
  margin-bottom: var(--module-margin);
}

.center {
  text-align: center;
}
.end {
  text-align: end;
}

a {
  text-decoration: none;
  transition: background-color 250ms, color 250ms, border-color 250ms;
}

i {
  transition: color 250ms;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.choice-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--dark-blue);

  transition: opacity 300ms, visibility 300ms;
}

.choice-main.hidden {
  opacity: 0;
  visibility: hidden;
}

.visa {
  background-color: var(--dark-blue);
  width: 50vw;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: width 0.75s, opacity 0.5s;
}

.education {
  background-color: var(--blue);
  width: 50vw;
  height: 100%;
  background: url("../images/visa.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  transition: width 0.75s, opacity 0.5s;
}

.visa:after,
.education:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dark-blue);
  z-index: 0;
  opacity: 0;
  visibility: hidden;

  transition: opacity 0.75s, visibility 0.75s;
}

.education:after {
  background: var(--blue);
}

.choice-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  perspective: 65rem;
  position: relative;
  z-index: 2;

  cursor: pointer;
}

.choice-content img {
  width: 100%;
  height: 100vh;
  max-height: 60vh;
  object-fit: contain;

  transition: transform 250ms;
}

.choice-content a {
  font-size: 2rem;
}

.visa a {
  color: var(--blue);
}

.education a {
  color: var(--dark-blue);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.choice-content i {
  transition: transform 0.75s;
  transform: translateY(1.3rem);
}

.choice-content:hover i,
div.active .choice-content i {
  transform: translateY(0.2rem);
}

.choice-content:hover img,
div.active .choice-content img {
  transform: translate(1rem, -0.5rem) rotate3d(1, 1, 1, -8deg);
}

.visa.active,
.education.active {
  width: 100vw;
}

.visa.active .choice-content i,
.education.active .choice-content i {
  opacity: 0;
}

.visa.deactive,
.education.deactive {
  width: 0vw;
  opacity: 0;
}

.visa.active:after,
.education.active:after {
  opacity: 1;
  visibility: visible;
}

/* Banner */

.banner-cover {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.banner-content-area {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

.banner-content {
  width: 40%;
  position: relative;
}

.banner-content span {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--dark-blue);
}

.banner-content h1 {
  color: var(--blue);
  font-size: 4rem;
}

.banner-content p {
  color: #707070;
  font-size: 0.8rem;
}

.path {
  position: absolute;
  top: -55%;
  left: -3rem;
  width: 100%;
  object-fit: scale-down;
}

@media (max-width: 992px) {
  .banner-content-area {
    height: 100vh;
    /* padding: 15rem 0; */
  }

  .banner-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .banner-cover {
    display: none;
  }
}

/* Kartlar */

.cards-section {
  margin-top: 7rem;
}

.cards-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-item {
  background-color: var(--light-blue);
  width: 100%;
  height: auto;
  border-radius: 1.25rem;

  user-select: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem 1.5rem;

  transition: background-color 250ms;
}

.card-item:hover {
  background-color: var(--red);
}

.card-item h3 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--dark-blue);
  transition: color 250ms;
}

.card-image {
  background-color: var(--grey);
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 1px rgb(0, 0, 0);

  transition: background-color 250ms;
}

.card-item:hover .card-image {
  background-color: var(--dark-red);
}

.card-image img {
  transition: filter 250ms;
}

.card-item:hover img {
  filter: invert(100%) sepia(58%) saturate(0%) hue-rotate(82deg)
    brightness(116%) contrast(101%);
}

.card-item:hover h3 {
  color: white;
}

@media (max-width: 992px) {
  .cards-section {
    margin-top: 0;
  }

  .cards-flex {
    flex-wrap: wrap;
  }

  .card-item {
    width: calc(50% - 0.5rem);
  }
}

/* Hakkımızda */

.module-head {
  margin-bottom: 1.5rem;
}

.sm-title {
  font-size: 0.8rem;
  color: var(--blue);
}

.module-title {
  margin-top: 0.5rem;
  font-weight: 600;
  /* font-size: 1rem; */
}

.module-content {
  font-size: 0.9rem;
  color: var(--dark-blue);
  margin-bottom: 2rem;
}

.module-content p {
  margin-bottom: 0;
}

/* Hizmet */

.service-section {
  margin-top: 16rem;
}

.flexible-images {
  position: relative;
}

.flexible-images img {
  width: 45%;
  position: absolute;
  display: flex;
  margin: auto;

  border-radius: 1rem;
}

.flexible-images img:nth-child(1) {
  top: 0;
  right: 0;
}

.flexible-images img:nth-child(2) {
  bottom: 0;
  left: 0;
}

.flexible-images img:nth-child(3) {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (max-width: 992px) {
  .flexible-images {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .flexible-images img {
    width: calc(50% - 0.5rem);
    position: relative;
    border-radius: 1rem;
  }
  .flexible-images img:last-child {
    margin-top: -8rem;
  }
}
