.post_slider .swiper {
  width: 100%;
  height: 100%;
}

.post_slider .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  border-radius: 1rem;
  background-color: transparent !important;
  box-shadow: none !important;
  /* padding: 1rem; */
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  border-radius: 1rem !important;
}

.post_slider .swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 1.3rem;
  box-shadow: 0 0 5px rgb(0, 0, 0);

  /* -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0002, #0004); */
}

.swiper-wrapper{
  padding-top: .2rem;
  padding-bottom: .2rem;
}

/* .post_slider .swiper-slide:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 1rem;

} */
